.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
  justify-content: end;

  &__picture {
    max-width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  &__name {
    max-width: 93px;
    height: 52px;
    text-align: end;
    font-weight: 500;
    font-size: 18px;
    color: #ff6060;
    margin: 0;
  }
}
