.logement-container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.middle-container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.tile-and-tags-container {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.profile-and-rate-container {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.logement-collapse-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 3% 0 3% 0;
}

.equipements-liste {
  padding: 0;
  margin: 0;
}

.equipements-liste li {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
}
