.home-container {
  max-width: 1240px;
  max-height: 1095px;
  background-color: white;
  border-radius: 30px;
  padding: 50px;
}

.banner-container {
  max-width: 1240px;
  max-height: 223px;
}

.card-container {
  max-width: 1240px;
  max-height: 829px;
}
