.Navigation-Container {
  display: flex;
  width: 309px;
  gap: 35%;

  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
  }

  a.active {
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    width: 190px;
    gap: 10%;
    justify-content: end;
    a {
      font-size: 12px;
    }
  }
}
