.collapse-container {
  width: 100%;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  height: 52px;
  @media screen and (max-width: 768px) {
    height: 30px;
  }
}

.collapse-title {
  font-size: 24px;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.arrow {
  width: 24px;
  height: auto;
  transition: transform 0.5s ease;
}

.arrow.open {
  transform: rotate(-180deg);
}
.content {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 20px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
