.footer {
  display: flex;
  flex-direction: column;
  max-height: 209px;
  align-items: center;
  background-color: black;
  margin: 0px;
  padding: 20px;

  &__logo {
    width: 122px;
    height: 39px;
    margin: 35px 0px 35px 0px;
  }
  p {
    color: white;
    margin-bottom: 0px;
  }
}
