body {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Media Query */
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    width: auto;
    padding: 0;
  }
}
